{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div style="margin-top:80px;" class="container">
<h3 class='text-center'>Update your profile</h3>
<hr>
{% if user == current_user %}
<h4>Change profile picture</h4>

<form style="margin-left:20px;" action="{{url_for('main.update_pic',fname=user.firstname)}}" method="post" enctype = "multipart/form-data">

  <input style="margin-top:5px;width:95px;"type="file"  name="photo" required>
  <input style="margin-top:5px;width:90px;" type="submit">
</form>
  <hr>
  <div style="margin-top:80px;margin-left:20px;">
        {{wtf.quick_form(form)}}
      </div>
      {%endif%}
      <hr>
      </div>
{% endblock %} 