{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

<html>

<head>

    <title>{{title}}</title>
</head>
{%block content%}

<body style="background-image: linear-gradient(#355C7D,#6C5B7B,#C06C84)">
    <div style="margin-top:80px;" class="container">
        <div class="col-md-10" style="background-color:white">
            <hr>
            <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
            <h1 style="font-family: 'Chilanka', cursive;font-size:55px;" class="text-center"><strong>The blog</strong>
            </h1>
            <hr><br>
            <div style="font-style: oblique">
                <h5 class="text-center"><strong>Quote of the day</strong></h5>
               
                <p style="font-family: 'Gudea', sans-serif;" class="text-center">{{quotes.quote}}</p>
                <p class="text-center">by<strong> {{quotes.author}}</strong></p>
                
            </div>
            <br><br>
            <div style="border:1px solid#DCDCDC;padding:16px;border-radius:1px">
                {% for blog in blogs %}
                <h4 class="text-center" style="font-family:monospace;"><strong>{{blog.title}}</strong></h4>
                <hr>

                <p><strong>Posted on {{blog.posted_at}}</strong></p>
                <p><a href="/blog/{{blog.id}}">Read more</a></p>
                <hr>
                <br><br>

                {%endfor%}
            </div>
            <hr>
        </div>
        <div class="col-md-1"></div>
    </div>

    {%endblock%}
</body>

</html>